.control {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.label {
  color: #111827;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}
.input {
  color: #111827;
  padding: 0.525rem 1.75rem 0.525rem 0.525rem;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  width: 100%;
  display: block;
  outline: none;
  overflow: hidden;
}
.submit {
  margin-right: 0;
  margin-left: auto;
  margin-top: 20px;
  display: block;
  width: fit-content;
}
.change {
  position: absolute;
  width: 13px;
  height: 13px;
  display: flex;
  right: 10px;
  top: 37px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.15s linear;
}
.error__msg {
  color: red;
  font-size: 14px;
  font-style: italic;
}
.error {
  border-color: red;
}
