.sidebar {
  width: 15rem;
  padding-bottom: 10px;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 1.5rem;
  z-index: 6;
  background-color: #222b40;
  transition: all 0.2s ease;
  box-shadow: 0rem 0.9375rem 1.875rem 0rem rgba(0, 0, 0, 0.02);
}
.logo {
  width: 60%;
  margin: auto;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.nav {
  padding-top: 2rem;
}
